@use '../Animations/Animation.module.scss' as animation;

.title_box {
  font-family: 'Poppins';
  & p {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;

    &:before {
      content: '_';
      position: absolute;
      top: 0;
      right: -20px;
      opacity: 0;

      animation: animation.$animation_typed 0.5s ease infinite alternate;
    }
  }

  & h2 {
    font-size: 5rem;
    font-weight: 700;
  }
}

.card_box {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
