@use '../Variables.module.scss' as screen;

.btn {
  position: fixed;
  bottom: 35px;
  right: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 10px;
  background-color: var(--primary-color);
  border-radius: 50%;
  transition: all 0.5s;
  cursor: pointer;

  @media screen and (max-width: screen.$sm) {
    bottom: 35px;
    right: 35px;
  }

  @media screen and (max-width: screen.$xs) {
    bottom: 35px;
    right: 35px;
  }

  &:hover {
    transform: scale(1.2);
  }

  & * {
    font-size: 32px;
    color: var(--text-color);
  }
}
